body {
  padding: 0 40px;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;

  background-color: #ffffff;

  box-shadow: 3px -5px 15px 0 rgba(0, 0, 0, 0.3);
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

.main-navigation {
  margin: 0 auto;
  padding: 0;

  color: #000000;

  background-color: #ffffff;
}

.main-header-logo {
  position: absolute;
  left: 0px;
  right: 0px;
  margin: 0 auto;
  width: 138px;
  height: 70px;

  z-index: 1;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0px;

  list-style: none;
}

.site-navigation li {
  flex: 0 0 239px;
  padding-top: 12px;
  padding-bottom: 14px;

  text-align: center;
}

.site-navigation li:nth-child(2) {
  margin-right: 244px;
}


.site-navigation a {
  padding: 15px 0;
  vertical-align: middle;

  font-weight: 700;
  color: #000000;
}


.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation-current a:not([href]) {
  color: #766357;
}

.container h1 {
  margin-top: 65px;

  font-size: 21px;
  font-weight: 700;
  text-align:center;
}

.container p {
  margin-top: 40px;

  text-align: center;
  color: #333333;
}

.container .introduction {
  margin-top: 25px;
  margin-bottom: 50px;
}

.main-picture {
  width: 1200px;
  height: 508px;
}

.main-picture-block {
  position: relative;
}

.main-picture-block img {
  display: block;
}

.mask-block {
  position: absolute;
  top: 451px;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  width: 1200px;
  height: 57px;

  background-image: url(../img/mask.png);
  background-repeat: no-repeat;

  z-index: 2;
}

.caption {
  position: absolute;
  top: 75px;
  left: 0;
  right: 0;
  width: 458px;
  height: 352px;
  margin-left: auto;
  margin-right: auto;

  z-index: 2;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
}

.features-list,
.services-list {
  margin: 0;
  padding: 0;

  line-height: 21px;
  list-style: none;
}

.block1 {
  flex: 0 0 100%;


  text-align: center;
  color: #ffffff;

  background-color: #81b3d2;
}

.block1 h3 {
  font-size: 21px;
  font-weight: 700;
  text-align:center;
}

.block1 p {
  color: #ffffff;
  font-size: 14px;
  line-height: 21px;
}

.subblock1 {
  display: flex;
}

.real-city-block {
  padding-top: 25px;
  padding-left: 40px;
  padding-right: 40px;
}

.real-city-block p {
  padding-left: 12px;
}

.real-city-picture {
  display: block;
}

.services-list {
  display: flex;
  justify-content: space-around;

  color: #000000;

  background-color: #ffffff;
}

.services-list p {
  color: #333333;
}

.services-item {
  flex: 0 0 400px;
  padding: 120px 0px 65px 30px;

  text-align: center;
}

.services-item h4 {
  position: relative;

  font-size: 21px;
  font-weight: 700;
}

.services-item .house {
  top: 12px;
  left: 15px;
}

.services-item .house-block {
  padding-left: 33px;
}

.services-item .food {
  top: 12px;
  left: -15px;
}

.services-item .food-block {
  padding-right: 25px;
}

.services-item .souvenir {
  top: 12px;
  left: -43px;
}

.services-item .souvenir-block {
  padding-right: 85px;
}

.services-list .house::before {
  content: "";

  position: absolute;
  bottom: 50px;
  left: 165px;
  width: 75px;
  height: 72px;

  background-image: url(../img/icon-1.svg);
  background-repeat: no-repeat;
  background-color: #ffffff;
}

.services-list .food::before {
  content: "";

  position: absolute;
  bottom: 50px;
  left: 163px;
  width: 74px;
  height: 70px;

  background-image: url(../img/icon-3.svg);
  background-repeat: no-repeat;
  background-color: #ffffff;
}

.services-list .souvenir::before {
  content: "";

  position: absolute;
  bottom: 50px;
  left: 165px;
  width: 64px;
  height: 76px;

  background-image: url(../img/icon-2.svg);
  background-repeat: no-repeat;
  background-color: #ffffff;
}

.block2 {
  flex: 0 0 100%;

  text-align: center;
  color: #ffffff;

  background-color: #81b3d2;
}

.block2 h3 {
  font-size: 21px;
  font-weight: 700;
  text-align: center;
}

.block2 p {
  color: #ffffff;
}

.subblock2 {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
}

.devil-bridge-block {
  padding: 25px 40px 9px;
}

.devil-bridge-picture {
  display: block;
}

.rest {
  flex-wrap: wrap;
  flex: 0 0 400px;
  padding-top: 30px;
  padding-bottom: 10px;

  line-height: 21px;
  text-align: center;

  background-color: #eeeeee;
}

.rest h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
}

.rest span,
.rest p {
  color: #333333;
}

.hotel-search {
  text-align: center;
}

.interest {
  margin-top: 65px;
}

.hotel-search b {
  font-size: 30px;
  line-height: 36px;
}

.hotel-search b+p {
  margin-top: 5px;

  color: #333333;
  line-height: 24px;
 }

.hotelsearch-button {
  margin-top: 10px;
  width: 568px;
  height: 86px;

  font-size: 21px;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;

  color: #ffffff;

  background-color: #766357;
  border: none;
}

.hotelsearch-button:hover,
.hotelsearch-button:focus {
  background-color: #604e43;
}

.hotelsearch-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.hotel-searching {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 568px;
  height: 395px;

  color: #000000;

  background-color: #ffffff;
  box-shadow: 3px 5px 15px 0 rgba(0, 0, 0, 0.3);
}

.hotel-searching input[type="text"] {
  width: 309px;
  height: 38px;
}

.check-block {
  margin-top: 56px;
}

.check-block p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -10px;
}

.calendar {
  padding-right: 5px;
}

.calendar path {
  opacity: 0.3;
}

.calendar-btn {
  width: 37px;
  height: 40px;

  text-align: left;

  background-color: #f2f2f2;
  border: none;

  cursor: pointer;
}

.calendar:hover path,
.calendar:focus path {
  fill: #000000;

  opacity: 1;
}

.calendar:active path {
  fill: #81b3d2;

  opacity: 1;
}

.adult-child-block {
  display: flex;
  align-items: baseline;
  margin-left: 42px;
  margin-top: -10px;
}

.adult-block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
}

.child-block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 55px;
  margin-left: auto;
}

.adult-figure {
  margin-top: 30px;
  margin-bottom: auto;
  margin-left: 14px;
}

.child-figure {
  margin-left: 50px;
}

.hotel-searching input[type="text"],
.hotel-searching input[type="number"] {
  font-weight: 700;

  background-color: #f2f2f2;

  border: none;
}

.hotel-searching input[type="text"]::-webkit-input-placeholder,
.hotel-searching input[type="number"]::-webkit-input-placeholder {
  padding-left: 10px;

  text-transform: uppercase;

  color: #000000;
}

.hotel-searching input[type="text"]:input:-moz-placeholder {
  text-transform: uppercase;

  color: #000000;
}

.hotel-searching input[type="number"] {
  width: 38px;
  height: 38px;

  text-align: center;
}

.plus-minus {
  margin: 0px;
  width: 40px;
  height: 40px;

  font-weight: 700;
  color: #a9a9a9;

  background-color: #f2f2f2;
  border: none;
}

.plus-minus:hover {
  color: #000000;
}

.plus-minus:focus {
  color: #81b3d2;
}

.hotel-searching label {
  margin-right: 20px;

  font-weight: bold;
}

.hotel-searching input[type="text"]:hover {
  background-color: #ebebeb;
}

.hotel-searching input[type="text"]:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  outline: none;
}

.find-button {
  width: 458px;
  height: 58px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 55px;

  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;

  color: #ffffff;

  background-color: #81b3d2;
  border: none;
}

.find-button:hover,
.find-button:focus {
  background-color: #669ec0;
}

.find-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

.map {
  margin-bottom: -110px;
}

/* вторая страница */

.search-options {
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;

  font: inherit;
  font-weight: 700;
  color: #ffffff;

  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-color: #81b3d2;
}

.search-options fieldset {
  border: none;
}

.search-options legend {
  font-size: 16px;
  line-height: 21px;
  text-align: left;
}

.search-block1 fieldset
.search-block2 fieldset,
.search-block3 fieldset {
  margin: 0;
  padding: 0;

}

.search-block1 {
  margin-top: 19px;
  margin-left: 60px;
  margin-bottom: -13px;
}

.search-block2 {
  margin-top: 21px;
  margin-left: 92px;
  margin-bottom: -13px;

}

.search-block3 {
  margin-left: auto;
  margin-right: 73px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.search-block3 legend {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.infrastructure-options,
.housing-options {
  margin: 0;
  padding: 0;

  line-height: 21px;

  list-style: none;
}

.infrastructure-options {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.infrastructure-options li:first-child,
.housing-options li:first-child {
  margin-top: 20px;
}

.filter-option {
  margin-bottom: 25px;
  margin-left: 50px;
}

.filter-option label {
  position: relative;
  right: 8px;

  display: block;

  font-weight: normal;
}

.filter-input-checkbox-on + label::before {
  content: "";
  position: absolute;
  left: -40px;

  width: 27px;
  height: 23px;

  background-image: url(../img/checkbox-on.svg);
  background-repeat: no-repeat;
}

.filter-input-checkbox-off + label::before {
  content: "";
  position: absolute;
  left: -40px;

  width: 23px;
  height: 23px;

  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
}

.filter-input:disabled {
  color: #ffffff;

  opacity: 0.3;
}

.housing-options {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.price-range {
  position: relative;
  height: 36px;
  margin-bottom: 20px;

  font-size: 0;
  line-height: 21px;

  border: 2px solid #ffffff;
  border-radius: 2px;

}

.price-range::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;


  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-range label {
  display: inline-block;

  font-size: 14px;
  font-weight: normal;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-range .min-price,
.price-range .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-range input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;
  font-weight: normal;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 5px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}


.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.show-button {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;
  width: 133px;

  color: #ffffff;
  font: inherit;
  line-height: 20px;
  font-weight: normal;
  text-transform: uppercase;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.show-button:hover {
  color: #000000;

  background-color: #ffffff;
}

.filters-block {
  display: flex;
  align-items: baseline;
  flex-basis: 100%;
  flex-wrap: nowrap;
  margin-top: -10px;
  margin-bottom: 10px;
}

.filters-block h2 {
  padding-left: 47px;
}

.filters-subblock1 {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-right: auto;
  margin-left: 73px;
}

.element1 {
  order: -1;
}

.sorting {
  display: flex;
  justify-content: space-around;
  padding-left: 40px;

  list-style: none;

  font-size: 12px;
  line-height: 18px;
}

.sorting-item {
  color: rgba(0, 0, 0, 0.3);
  margin-right: 32px;

  border-bottom: 1px dashed rgba(0, 0, 0 , 0.3);
}

.sorting-item:hover,
.sorting-item:focus {
  color: #81b3d2;

  border-bottom: 1px dashed #81b3d2;
}

.sorting-item:active {
  color: #000000;

  border-bottom: none;
}

.sorting-item-current a:not([href]) {
  margin-right: 35px;

  color: #81b3d2;

  border-bottom: none;
}

.scope {
  display: flex;
  margin-right: 73px;

  list-style: none;
}

.scope li {
  margin-left: 13px;
}

.scope a path {
  fill: #cacaca;
}

.scope a:hover path,
.scope a:focus path {
  fill: #231f20;
}

.scope a:active path {
  fill: #81b3d2;
}

.scope a:not([href]) path {
  fill: #81b3d2;
}

.rate-filters h2 {
  font-size: 12px;
  line-height: 18px;
}

.rate-filters p {
  font-size: 21px;
  font-weight: bold;
  text-align: left;
}

.search-results-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  list-style: none;
}

.search-results-item {
  display: flex;
  flex: 0 0 152px;
  align-items: center;
  padding: 0;

  text-align: left;

  border-top: 1px solid #e5e5e5;
}

.villas {
  border-bottom: 1px solid #e5e5e5;
}

.search-results-item h3 {
  font-size: 21px;
  font-weight: 700;
  color: #000000;
}

.search-results-item p {
  line-height: 21px;
  text-align: left;
}

.hotel-header {
  font-size: 21px;
  font-weight: 700;
  color: #000000;
}

.hotel-header:hover,
.hotel-header:focus {
  color: #81b3d2;
}

.hotel-header:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotel-picture-block {
  margin-left: 73px;
}

.hotel-definition {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: -35px;
  margin-left: 30px;
}

.description-block1,
.description-block2,
.description-block3 {
  margin-top: -55px;
  margin-bottom: 4px;
}

.description-block1 span {
  margin-left: 40px;
}

.description-block2 span {
  margin-left: 65px;
}

.description-block3 span {
  margin-left: 21px;
}

.hotel-buttons {
  margin-top: -5px;
}

.rating-block {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: 73px;
  margin-top: 5px;
}

.star {
  flex-basis: 10px;

  text-align: right;
}

.star span {
  margin-left: 3px;
}

.rating {
  padding: 2px 17px;

  color: #666666;

  background-color: rgba(102, 102, 102, 0.1);
}

.about {
  width: 77px;
  padding: 1px 15px;

  font-weight: 700;
  color: #ffffff;

  background-color: #81b3d2;
  border: 3px solid #81b3d2;
}

.about:hover,
.about:focus {
  background-color: #669ec0;
  border: 5px solid #669ec0;
}

.about:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

.booking {
  width: 142px;
  height: 27px;
  padding: 1px 15px;

  font-weight: 700;
  color: #ffffff;

  background-color: #766357;
  border: 3px solid #766357;
}

.booking:hover,
.booking:focus {
  background-color: #604e43;
  border: 5px solid #604e43;
}

.booking:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
  border: 5px solid #503e33;
}

.main-footer {
  margin: 0;
  padding: 0;
  color: #000000;

  background-color: #ffffff;
  opacity: 0.9;
}

.main-footer .container {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  padding: 5px 10px 30px 10px;
}

.hashtag {
  margin: -10px 0px 15px 5px;

  font-size: 21px;
  font-weight: 700;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 151px;
  margin: 0 auto;
  padding: 0px 0px 25px 10px;

  text-align: center;

  list-style: none;
}

.footer-social-list a:hover,
.footer-social-list a:focus {
  text-decoration: none;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;

  font-weight: 700;
  color: #000000;
  text-align: center;

  background-color: #81b3d2;
  opacity: 1;
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
  opacity: 1;
}

.social-button:active {
  background-color: #5496bd;
}

.social-button:active path {
  opacity: 0.3;
}

.footer-copyright {
  margin: 0;
  width: 195px;

  font-weight: 700;
  text-align: right;
}

.footer-copyright a {
  display: inline-block;
  vertical-align: middle;
}

.footer-copyright a:hover path,
.footer-copyright a:focus path {
  fill: #5496bd;
  opacity: 0.7;
}

.footer-copyright a:active path {
  fill: #000000;
  opacity: 0.3;
}
