body {
  margin: 0 auto;
  padding: 0 40px;
  width: 1200px;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

.main-navigation {
  margin: 0;
  padding: 0;
  width: 100%;

  color: #000000;

  background-color: #ffffff;
}

.main-header-logo {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 138px;
  height: 70px;

  z-index: 1;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  padding: 25px 0 25px 0;
  width: 100%;

  background-color: #ffffff;

  list-style: none;
}

/*

.site-navigation li {
  flex-basis: 300px;
}

.site-navigation li:nth-child(4n + 2) {
  margin-right: auto;
}

.site-navigation li:nth-child(4n + 3) {
  margin-left: auto;
}

*/

.site-navigation a {
  font-weight: 700;
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation-current a:not([href]) {
  color: #766357;
}

.container {
  width: 100%;
  margin: 0 auto;

  text-align: center;

  background-color: #ffffff;
}

.container h1 {
  font-size: 21px;
  font-weight: 700;
  text-align:center;
}

.container p {
  margin-top: 40px;

  text-align: center;
  color: #333333;
}

.main-picture {
  width: 1200px;
  height: 773px;
}

.main-picture-block {
  position: relative;
}


.mask-block {
  position: absolute;
  top: 596px;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  width: 1200px;
  height: 273px;

  background-image: url(../img/mask.png);
  background-repeat: no-repeat;

  z-index: 2;
}

.caption {
  width: 458px;
  height: 352px;
}

.caption-block {
  position: absolute;
  top: 208px;
  left: 0;
  right: 0;
  width: 458px;
  margin-left: auto;
  margin-right: auto;
}

.begin-block {
  position: absolute;
  top: 675px;
  left: 0;
  right: 0;
  width: 576px;
  margin-right: auto;
  margin-left: auto;

  z-index: 3;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
}

.features-list,
.services-list {
  margin: 0;
  padding: 0;

  line-height: 21px;
  list-style: none;
}

.block1 {
  flex: 0 0 100%;


  text-align: center;
  color: #ffffff;

  background-color: #81b3d2;
}

.block1 h3 {
  font-size: 21px;
  font-weight: 700;
  text-align:center;
}

.block1 p {
  color: #ffffff;
}

.subblock1 {
  display: flex;
}

.real-city-block {
  padding: 20px 40px;
}

.services-list {
  display: flex;
  justify-content: space-around;

  color: #000000;

  background-color: #ffffff;
}

.services-item {
  flex: 0 0 400px;
  padding: 165px 10px 90px;
}

.services-list h4 {
  font-size: 21px;
  font-weight: 700;
}

.services-list p {
  color: #333333;
}

.block2 {
  flex: 0 0 100%;

  text-align: center;
  color: #ffffff;

  background-color: #81b3d2;
}

.block2 h3 {
  font-size: 21px;
  font-weight: 700;
  text-align: center;
}

.block2 p {
  color: #ffffff;
}

.subblock2 {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
}

.devil-bridge-block {
  padding: 20px 40px;
}

.rest {
  flex-wrap: wrap;
  flex: 0 0 400px;
  padding-top: 50px;
  padding-bottom: 65px;

  line-height: 21px;
  text-align: center;

  background-color: #eeeeee;
}

.rest h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
}

.rest span,
.rest p {
  color: #333333;
}

.hotel-search {
  text-align: center;
}

.interest {
  margin-top: 60px;
}

.hotel-search b {
  font-size: 30px;
  line-height: 36px;
}

.hotel-search b+p {
  margin-top: 40px;
  color: #333333;
  line-height: 24px;
 }

.hotelsearch-button {
  margin-top: 55px;
  width: 568px;
  height: 86px;

  font-size: 21px;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;

  color: #ffffff;

  background-color: #766357;
  border: none;
}

.hotelsearch-button:hover,
.hotelsearch-button:focus {
  background-color: #604e43;
}

.hotelsearch-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.hotel-searching {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 568px;
  height: 395px;

  color: #000000;

  background-color: #ffffff;
}

.check-block {
  margin-bottom: 5px;
}

.adult-child-block {
  display: flex;
  justify-content: space-around;
}

.hotel-searching input[type="text"],
.hotel-searching input[type="number"] {
  font-weight: 700;

  background-color: #f2f2f2;
}

.hotel-searching input[type="text"] {
  width: 346px;
  height: 38px;
}

.calendar {
  width: 25px;
  height: 26px;

  background-image: url(../img/calendar.svg);
}

.hotel-searching input[type="number"] {
  width: 38px;
  height: 38px;

  text-align: center;
}

.plus-minus {
  width: 38px;
  height: 38px;

  font-weight: 700;
  color: #a9a9a9;
}

.plus-minus:hover {
  color: #000000;
}

.plus-minus:focus {
  color: #81b3d2;
}

.hotel-searching label {
  margin-right: 20px;

  font-weight: bold;
}

.hotel-searching input[type="text"]:hover {
  background-color: #ebebeb;
}

.hotel-searching input[type="text"]:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  outline: none;
}

.find-button {
  width: 458px;
  height: 58px;
  margin-bottom: 25px;

  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;

  color: #ffffff;

  background-color: #81b3d2;
  border: none;
}

.find-button:hover,
.find-button:focus {
  background-color: #669ec0;
}

.find-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

/* вторая страница */

.search-options {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 215px;

  font: inherit;
  font-weight: 700;
  color: #ffffff;

  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-color: #81b3d2;
}

.search-block1 {
  margin-top: 30px;
  margin-left: 73px;
  margin-bottom: 30px;
}

.search-block2 {
  margin-top: 30px;
  margin-left: 105px;
  margin-bottom: 30px;

}

.search-block3 {
  margin-top: 13px;
  margin-left: 332px; /* почему не работает margin-right? */
  margin-bottom: 30px;
}


.infrastructure-options,
.housing-options {
  margin: 0;
  padding: 0;

  line-height: 21px;

  list-style: none;

}

.infrastructure-options {
  display: flex;
  flex-direction: column;
  align-items: baseline;

}

.infrastructure-options li {
  padding-top: 10px;
  padding-bottom: 10px;
}

.housing-options {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.housing-options li {
  padding: 10px 5px;
}

.price-range {
  line-height: 21px;
}

.range-buttons .min-button:hover,
.range-buttons .max-button:hover {
  cursor: pointer;
}

.search-filters fieldset {
  border: none;
}

.search-filters legend {
  font-size: 16px;
  line-height: 21px;
}

.show-button {
  width: 133px;
  height: 32px;

  color: #ffffff;
  font: inherit;
  text-transform: uppercase;

  background-color: transparent;
}

.show-button:hover {
  color: #000000;

  background-color: #ffffff;
}

.filters-block {
  display: flex;
  align-items: baseline;
  flex-basis: 100%;
  flex-wrap: nowrap;
}

.filters-block h2 {
  padding-left: 50px;
}

.filters-subblock1 {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-right: auto;
  margin-left: 73px;
}

.element1 {
  order: -1;
}

.sorting {
  display: flex;
  justify-content: space-around;
  padding-left: 40px;

  list-style: none;

  font-size: 12px;
  line-height: 18px;
}

.sorting-item {
  color: rgba(0, 0, 0, 0.3);
  margin-right: 35px;

  border-bottom: 1px dashed rgba(0, 0, 0 ,0.3);
}

.sorting-item:hover,
.sorting-item:focus {
  color: #81b3d2;

  border-bottom: 1px dashed #81b3d2;
}

.sorting-item:active {
  color: #000000;

  border-bottom: none;
}

.sorting-item-current a:not([href]) {
  margin-right: 35px;

  color: #81b3d2;

  border-bottom: none;
}

.scope {
  display: flex;
  margin-right: 73px;

  list-style: none;
}

.rate-filters h2 {
  font-size: 12px;
  line-height: 18px;
}

.rate-filters p {
  font-size: 21px;
  font-weight: bold;
  text-align: left;
}

.search-results-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  list-style: none;
}

.search-results-item {
  display: flex;
  flex: 0 0 152px;
  align-items: center;
  padding: 0;

  text-align: left;

  border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.villas {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.search-results-item h3 {
  font-size: 21px;
  font-weight: 700;
  color: #000000;
}

.search-results-item p {
  line-height: 21px;
  text-align: left;
}

.hotel-header {
  font-size: 21px;
  font-weight: 700;
  color: #000000;
}

.hotel-header:hover,
.hotel-header:focus {
  color: #81b3d2;
}

.hotel-header:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotel-picture-block {
  margin-top: 10px;
  margin-left: 73px;
}

.hotel-definition {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: -25px;
  margin-left: 30px;
}

.description-block {
  margin-top: -55px;
  margin-bottom: 4px;
}

.description-block span {
  padding-left: 45px;
}

.hotel-buttons {
  margin-top: -5px;
}

.rating-block {
  display: flex;
  flex-direction: column;
  margin-right: 73px; /* почему не работает? */
  margin-top: 25px;
}

.star {
  flex-basis: 10px;
  background-color: red;
}

.rating {
  padding: 5px 17px;

  color: #666666;

  background-color: rgba(102, 102, 102, 0.3);
}



.about {
  width: 77px;
  padding: 1px 15px;

  font-weight: 700;
  color: #ffffff;

  background-color: #81b3d2;
  border: 5px solid #81b3d2;
}

.about:hover,
.about:focus {
  background-color: #669ec0;
  border: 5px solid #669ec0;
}

.about:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

.booking {
  width: 142px;
  height: 27px;
  padding: 1px 15px;

  font-weight: 700;
  color: #ffffff;

  background-color: #766357;
  border: 5px solid #766357;
}

.booking:hover,
.booking:focus {
  background-color: #604e43;
  border: 5px solid #604e43;
}

.booking:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
  border: 5px solid #503e33;
}

.main-footer {
  margin: 0 auto;
  padding: 0;
  color: #000000;

  background-color: #ffffff;
}

.main-footer .container {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  padding: 20px 0px 50px 0px;
}

.hashtag {
  margin: 0;
  width: 130px;

  font-size: 21px;
  font-weight: 700;
}

.footer-social-list {
  display: flex;
  justify-content: center;
  width: 150px;
  margin: 0;

  text-align: center;

  list-style: none;
}

.footer-social-list a:hover,
.footer-social-list a:focus {
  text-decoration: none;
}

.social-button {
  font-weight: 700;
  color: #000000;
}

.footer-copyright {
  margin: 0;
  width: 195px;

  font-weight: 700;
  text-align: right;
}
